@charset "UTF-8"

/** ==================================================================================================================
  *   This is where all of the "FRAMEWORKS" stylesheets are compiled
  *
  *   All frameworks that are the smallest building block pieces that will be used to create frameworks and frameworks in the form of macros.
  *   These are simliar to elements, but they are styles using classes, not the html element themselves.
  *   The Settings layer does not contain any styles. It only houses variables and other configuration needs.
  * ================================================================================================================== */


// Variables
$timeline-branch-length: 35%
$nav-height: 70px

// FRAMEWORK NAME: starter-framework
// @import "_frameworks.starter-framework/_frameworks.starter-framework.styles"

html 
	line-height: unset


.mobile_nav_list
	display: none
body.mobileOverlay 
	overflow: hidden
	.mobile_nav_list
		padding: 20px 10vw
		position: relative
		display: block
		height: 100vh
		min-height: 400px
		width: 100vw
		position: fixed
		top: 0
		left: 0
		background: #ccc
		z-index: 1000
		.title
			font-size: 30px
			color: #000
			font-weight: 600
			margin-bottom: 2rem
			.close-btn 
				float: right
				font-size: 30px
				cursor: pointer
				color: #252525
		.navigation
			list-style: none
			.nav_item
				display: block
				margin-bottom: 2rem
				font-size: 22px
				a
					color: #000
					text-decoration: none
				.sub-list
					display: none

nav.nav
	position: absolute
	display: flex
	align-items: center
	justify-content: space-between
	z-index: 100
	height: $nav-height
	top: 0
	left: 0
	right: 0
	padding: 0 4rem
	background: #ddd
	@media (max-width: 850px)
		padding: 0 10vw
	.brand, .nav_list
		display: inline-block
		margin: 0
	.brand
		font-size: 30px
		font-weight: 600
		max-width: 200px
		a
			text-decoration: none
			color: #000
	.nav_list 
		list-style: none
		height: 100%
		.nav_item
			display: inline-block
			text-align: center
			font-weight: 600
			position: relative
			&:last-child
				margin-right: 0
			&:after
				content: ''
				position: absolute
				width: 0
				height: 5px
				left: 0
				right: 0
				bottom: 0px
				margin: auto
				background: #444
				transition-timing-function: ease-in-out
				transition-duration: 250ms
			&:hover:after, &.active:after
				width: 100%
			a
				text-decoration: none
				color: #000
			& > a
				height: $nav-height
				display: block
				padding: 0 18px
				line-height: $nav-height
			.hover-menu
				z-index: -1
				position: absolute
				left: 0
				right: 0
				top: $nav-height
				transform-origin: top center
				background: #eee
				padding: 10px 0
				opacity: 0
				pointer-events: none
				transition-timing-function: ease-in-out
				transition-duration: 250ms
				li
					list-style: none
					font-size: 12px
					margin-bottom: 10px
					&:last-child
						margin-bottom: 0
			&:hover .hover-menu, .hover-menu:hover
				opacity: 1
				pointer-events: unset
		@media (max-width: 800px)
			.nav_item
				display: none
				
		.mobile_nav
			display: none
			margin-right: 0
			text-align: center
			position: relative
			height: 100%
			justify-content: center
			align-items: center
			cursor: pointer
			@media (max-width: 800px)
				display: flex
			.container
				width: 40px
				height: 40px
				position: relative
				.nav-line
					width: 90%
					height: 3px
					border-radius: 2px
					background: #444
					position: absolute
					left: 0
					right: 0
					margin: auto
					&:nth-child(1)
						top: 10px
					&:nth-child(2)
						top: 20px
					&:nth-child(3)
						top: 30px

.section
	position: relative
	width: 100%
	padding: 1rem 10vw
	min-height: 550px
	display: flex
	flex-direction: column
	justify-content: center
	align-items: flex-end
	@media (max-width: 750px)
		align-items: flex-start
		justify-content: flex-start
		min-height: unset
		padding: 5rem 10vw
	& > h3, & > p
		z-index: 1
	& > h3
		font-weight: 600
		position: absolute
		top: 5rem
		left: 10vw
		font-size: 30px
		@media (max-width: 800px)
			left: calc(90vw - 600px)
		@media (max-width: 750px)
			position: initial
			left: unset
			top: unset
			margin-bottom: 1rem
	& p
		font-size: 20px
		font-weight: 300
		line-height: 1.2
		&.subtitle
			font-weight: 500
			margin-bottom: 1rem
	& > p
		max-width: 600px
	.link
		font-size: 16px
		font-weight: 300
		text-decoration: none
	&.about_section
		background: #eee
	&.book_section
		@media (min-width: 751px)
			padding-right: 0
			flex-direction: row
		background: #fff
		align-items: flex-start
		flex-direction: column
		min-height: unset
		padding-top: 4rem
		padding-bottom: 4rem
		.text-container 
			width: 350px
			@media (min-width: 751px)
				margin-right: 2rem
			.title
				font-weight: 600
				font-size: 30px
				margin-bottom: 4rem
				&.small-gap
					margin-bottom: 2rem
			.general
				margin-bottom: 1rem
			.quote_item
				margin-bottom: 2rem
				.body
					font-size: 16px
					line-height: 1.15
					margin-bottom: 0.5rem
				.author
					padding-left: 10%
					font-size: 14px
					color: #666
		.image-container
			flex: 1
			height: 500px
			.img
				width: 100%
				height: 100%
				background: #eee
			@media (max-width: 750px)
				margin: 2rem 0 1rem 0 
				width: 100%
				height: 250px
		@media (max-width: 750px)
			.text-container 
				width: 100%
			.image-container
				display: none
	&.news_section, &.resources_section, &.contact_section
		min-height: unset
		align-items: flex-start
		padding-top: 2rem
		padding-bottom: 2rem
		h3
			position: unset
			padding-left: 0vw
			@media (max-width: 800px)
				padding-left: 0
	&.resources_section, &.news_section
		margin-bottom: 4rem
		@media (max-width: 750px)
			margin-bottom: 4rem
	&.resources_section .resource_grid,
	&.news_section .event_list,
	&.resources_section .resource_list,
		position: relative
		margin: 4rem 0 0.5rem 0
		width: 100%
		@media (max-width: 750px)
			margin: 2rem 0 0.5rem 0
	&.contact_section .contact_container
		position: relative
		margin: 4rem 0
		width: 100%
		@media (max-width: 750px)
			margin: 2rem 0
	&.resources_section .resource_grid
		position: relative
		display: flex
		justify-content: space-between
		flex-flow: wrap
		.resource_item
			display: inline-block
			width: 200px;
			.resource_img
				width: 100%
				height: 200px
				background: #eee
				margin-bottom: 0.5rem
			.resource_text
				width: 100%
				p
					font-size: 16px
		@media (max-width: 1050px)
			& .resource_item
				width: 45%
				margin-bottom: 1rem
				& .resource_text
					margin-bottom: 1rem
		@media (max-width: 750px)
			flex-flow: column wrap
			& .resource_item
				width: 100%
		.chevron
			position: absolute
			top: 35%
			right: -5vw
			opacity: 0.35
			transition-timing-function: ease-in-out
			transition-duration: 400ms
			&:hover
				opacity: 1
				cursor: pointer
			@media (max-width: 1050px)
				top: 40%
			@media (max-width: 750px)
				display: none
			&:before
				width: 30px
				height: 30px
	&.resources_section .resource_list
		column-count: 2
		column-gap: 25vw
		@media (max-width: 750px)
			column-count: unset
			column-gap: unset
		.resource_item
			margin-bottom: 2rem
			.subtitle
				margin-bottom: 0.75rem
				font-weight: 500
				font-size: 22px

	&.news_section .event_list
		@media (max-width: 800px)
			margin: 2rem 0
		.event_entry
			width: 100%
			margin-bottom: 2rem
			display: flex
			flex-direction: row
			justify-content: space-between
			.event_info
				width: 300px
				p
					margin-bottom: 0.25rem
					&.subtitle
						margin-bottom: 0.75rem
						font-weight: 500
						font-size: 22px
			.event_desc
				max-width: 600px
				font-size: 16px
			@media (max-width: 800px)
				flex-direction: column
				.event_info
					width: 100%
					p.subtitle
						margin-bottom: 0.25rem
				.event_desc
					width: 100%
					margin-top: 1rem
	&.contact_section 
		@media (min-width: 751px)
			padding-left: 0px
			h3
				padding-left: 10vw
				@media (max-width: 800px)
					padding-left: 10vw
		.contact_container
			display: flex
			align-items: center
			justify-content: space-between
			.contact_img
				width: 50%
				height: 300px
				background: #eee
			.contact_form
				width: 45%
				.contact_block
					&.right 
						text-align: right
					margin-bottom: 1rem
					label
						margin-bottom: 0.5rem
						font-size: 16px
						font-weight: 300
					select, textarea
						width: 100%
						border: 1px solid #eee
						border-radius: 5px
						outline: none
					select
						height: 35px
						option[disabled]
							color: #ccc
					button
						margin-top: 0.25rem
						background: #eee
						padding: 12px 20px
						border-radius: 5px
						@media (max-width: 750px)
							width: 100%
			@media (max-width: 750px)
				flex-direction: column
				.contact_img
					width: 100%
					height: 250px
					margin-bottom: 2rem
					display: none
				.contact_form
					width: 100%
	&.client_section
		min-height: unset
		padding-left: 0px
		padding-right: 0px
		align-items: flex-start
		h3
			position: initial
			padding-left: 10vw
			margin-bottom: 4rem
			@media (max-width: 750px)
				padding-left: 10vw
		.client_carousel
			width: 100%
			height: 150px
			position: relative
			margin-bottom: 2rem
			overflow-x: hidden
			@media (max-width: 750px)
				margin-bottom: 0
			.offset_container
				position: absolute
				display: flex
				top: 0
				bottom: 0
				left: 0
				width: auto
			.client_item
				display: inline-block
				width: 200px
				height: 100%
				background: #eee
				margin-right: 2rem
	&.timeline_section
		padding-top: 4rem
		padding-bottom: 4rem
		min-height: unset
		align-items: center
		justify-content: center
		h3
			width: 100%
			position: initial
			padding-left: 0vw
			margin-bottom: 4rem
			@media (max-width: 750px)
				padding-left: 0
		.timeline_container
			position: relative
			width: 100%
			.timeline_block
				position: relative
				height: 200px
				&:before
					content: ''
					position: absolute
					height: 100%
					width: 2px
					background: #dedede
					left: 0
					right: 0
					margin: auto
				&:after
					content: '' 
					position: absolute 
					width: $timeline-branch-length
					height: 2px 
					background: #dedede 
					z-index: 0 
					bottom: 0% 
					margin: auto
					left: 0
					right: 0
				.date
					position: absolute
					z-index: 1
					font-size: 100px
					top: 10px
					opacity: 0.25
					font-weight: 600
				.content
					position: absolute
					top: 0px
					bottom: 0px
					display: flex
					align-items: center
					justify-content: space-around
					width: 50%
					.text
						width: 200px
						z-index: 2
						.title
							font-size: 14px
							font-weight: 600
							margin-bottom: 5px
						.description
							font-size: 12px
					.asset
						width: 150px
						height: 150px
						background: #eee
						z-index: 0
				&:nth-child(odd)
					.date 
						right: $timeline-branch-length * .25
					.content
						flex-direction: row-reverse
						right: 0
					&:after
						left: $timeline-branch-length
				&:nth-child(even)
					.date 
						left: $timeline-branch-length * .25
					.content
						left: 0
					&:after
						right: $timeline-branch-length
				&:last-child
					&:after
						width: 0
					@media (min-width: 951px)
						margin-bottom: 200px
						height: 250px
						.date 
							top: unset
							right: 0
							left: 0
							width: min-content
							bottom: -25px
							margin: auto
						.content
							left: 0
							right: 0
							top: unset
							margin: auto
							bottom: 0px
							align-items: flex-start
							justify-content: space-between
							width: 400px
							.text
								width: 45%
							.asset
								width: 45%
								height: 150px
								background: #eee
								margin-bottom: 1rem
				@media (max-width: 950px)
					height: auto
					&:before
						right: unset
						left: 0
					&:after
						width: 100%
						right: unset
						left: 0
					.date
						position: absolute
						z-index: 1
						font-size: 100px
						bottom: 50px
						top: unset
						left: unset
						right: 0px
						opacity: 0.25
						font-weight: 600
					.content
						position: unset
						top: unset
						bottom: unset
						display: flex
						padding: 4rem 1rem
						align-items: flex-start
						justify-content: flex-start
						flex-direction: column
						width: 100%
						.text
							width: 100%
							margin-bottom: 1rem
							.title
								font-size: 16px
							.description
								font-size: 14px
					&:nth-child(odd), &:nth-child(even)
						.date 
							left: unset
							right: 0px
						.content
							flex-direction: column
							right: unset
							left: 0
						&:after
							left: 0

.section.no-flex
	display: block
	padding: 0 10vw
	margin: $nav-height 0
	h3	
		position: unset
		margin-bottom: 2rem
		padding-top: 3rem

.landing_hero
	position: relative
	width: 100%
	height: 100vh
	min-height: 550px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	.hero_container
		width: 80%
		max-width: 700px
		padding: $nav-height 0 0px 5vw
		position: relative
		.hero_quote
			font-size: 34px
			font-weight: 600
			line-height: 1.25
			margin-bottom: 3rem
			@media (max-width: 750px)
				font-size: 30px
			.open_quote
				position: relative
				&:after
					content: ''
					font-size: 50px
					position: absolute
					width: 33px
					height: 25px
					background-repeat: no-repeat
					opacity: 0.15
					z-index: 0
					background: url(../../public/static/images/quote.svg)
				&.quote_top
					&:after
						transform: scale(-1)
						top: -10px
						left: -40px
				&.quote_bottom
					&:after
						bottom: -10px
						right: -40px
		.float_ad
			background: #aaa
			padding: 10px 20px
			font-size: 18px
			color: #fff

.about_hero
	h3
		position: unset
		margin-bottom: 3rem
		@media (max-width: 950px)
			margin-bottom: 0rem
	position: relative
	width: 100%
	display: flex
	align-items: flex-start
	justify-content: center
	@media (min-width: 951px)
		flex-direction: column
		padding-right: 0
		margin-top: 8rem
	@media (max-width: 950px)
		justify-content: flex-start
		margin-top: 4rem
		padding: 5rem 10vw
	.flex-row
		display: flex
		flex-direction: column
		@media (min-width: 950px)
			flex-direction: row-reverse
		.hero_bio
			flex: 1
			z-index: 1
			font-size: 20px
			margin-right: 2rem
			font-weight: 300
			line-height: 1.2
			@media (max-width: 800px)
				font-size: 20px
			@media (max-width: 950px)
				font-size: 18px
				width: 100%
		.image-container 
			width: 600px
			height: 400px
			.img
				width: 100%
				height: 100%
				background: #eee
			@media (max-width: 950px)
				margin: 2rem 0 1rem 0 
				width: 100%
				height: 50vw
				min-height: 300px

.resources_main
	#resources
		width: 100%
		.top-select
			.category-list
				margin-bottom: 1rem
				list-style: none
				display: inline-block
				@media (max-width: 600px)
					display: block
					margin-bottom: 20px
				.category
					position: relative
					font-size: 18px
					display: inline-block
					margin-right: 1.5rem
					cursor: pointer
					&:last-child
						margin-right: 0px
					&:after
						content: ''
						position: absolute
						width: 0
						height: 3px
						left: 0
						right: 0
						bottom: -5px
						margin: auto
						background: #444
						transition-timing-function: ease-in-out
						transition-duration: 250ms
					&:hover:after, &.active:after
						width: 100%
			.type-select
				list-style: none
				float: right
				@media (max-width: 600px)
					float: unset
					margin-bottom: 15px
				.list-type
					position: relative
					display: inline-block
					cursor: pointer
					&:first-child
						margin-right: 10px
					&:after
						content: ''
						position: absolute
						width: 0
						height: 2px
						left: 0
						right: 0
						bottom: -4px
						margin: auto
						background: #444
						transition-timing-function: ease-in-out
						transition-duration: 250ms
					&:hover:after, &.active:after
						width: 100%
		.filter
			margin-bottom: 30px
			display: flex
			input
				background: white
				border: 1px solid #aaa
				flex-grow: 1
				margin-right: 8px
				padding: 5px 10px
			select
				width: 108px
				background: #aaa
				color: white
		.content
			column-count: 3
			column-gap: 23px
			@media (max-width: 900px)
				column-count: 2
			@media (max-width: 600px)
				column-count: 1
			.resource_item
				margin-bottom: 23px
				break-inside: avoid-column;
				.thumbnail
					height: 300px
					background: #eee
					margin-bottom: 5px
				.resource_title
					font-size: 20px
					font-weight: 600
					margin-bottom: 2px
				.file_type
					font-size: 14px
					font-weight: 200


.event_groups
	width: 100%
	padding: 1rem 0
	.event_section
		margin-bottom: 4rem
		width: 100%
		.title
			text-align: center
			font-size: 20px
			font-weight: 400
			padding-bottom: 15px
			border-bottom: 1px solid #aaa
			margin-bottom: 1.5rem
		.event-list
			.event
				margin-bottom: 1.5rem
				width: 100%
				display: flex
				flex-direction: row
				justify-content: space-between
				align-items: center
				padding: 10px 10px
				.date
					width: 100px
					margin-right: 10px
					font-size: 30px
					font-weight: 600
				.info
					margin-right: 10px
					display: flex
					flex-direction: column
					justify-content: space-between
					.info-title
						font-size: 20px
						font-weight: 400
					.info-loc
						font-size: 16px
						font-weight: 300
				.description
					max-width: 50%
					font-size: 14px
				@media (max-width: 600px)
					flex-direction: column
					width: 100%
					align-items: flex-start
					.date
						margin-right: 0
						margin-bottom: 10px 
					.info
						margin-right: 0
						margin-bottom: 15px
					.description
						max-width: unset
	.load-container
		text-align: center
		.load-btn
			background: #ccc
			cursor: pointer
			padding: 8px 20px
			color: white

#footer
	width: 100%
	.footer_content
		display: flex
		align-items: flex-start
		justify-content: space-between
		padding: 4rem 4rem
		background: #ddd
		.footer-logo
			margin-bottom: 1rem
			font-size: 40px
			font-weight: 600				
			text-decoration: none
			color: #000
			display: inline-block
		.subscribe_text
			font-size: 16px
			margin-bottom: 10px
		.subscribe_input
			width: 200px
			position: relative
			display: inline-block
			input, button
				outline: none
				font-size: 12px
			input
				width: 135px
				height: 28px
				background: white
				padding: 1px 10px
			button
				float: right
				border: none
				background: #bbb
				color: white
				width: 45px
				height: 30px
		.footer-nav
			width: 500px
			display: flex
			justify-content: space-evenly
			list-style: none
			@media (max-width: 600px)
				display: block
				width: auto
				margin-bottom: 2rem
				.nav-item
					display: block
			.nav_item
				display: inline-block
				font-size: 15px
				font-weight: 600
				a
					text-decoration: none
					color: #000
				.sub-list
					.nav_item
						margin-bottom: 10px
						&:last-child
							margin-bottom: 0px
					.nav_item:not(.main)
						display: block
						font-size: 13px
						a
							color: #999
							font-weight: 200

		.footer-about
			max-width: 300px				
			h5
				margin-bottom: 1rem
				font-weight: 600
			p
				font-size: 12px
				margin-bottom: 1rem
			.social-container
				i
					font-size: 16px
					background: #444
					color: white
					border-radius: 100%
					width: 32px
					height: 32px
					line-height: 32px
					text-align: center
					margin-right: 7.5px
		@media (max-width: 950px)
			flex-direction: column
			align-items: flex-start
			padding: 3rem 10vw
			.logo-nav
				margin-bottom: 2rem
			.footer-nav .nav_item
				width: 100%
				margin-bottom: 1rem
				margin-right: 0

.book_hero
	position: relative
	width: 100%
	height: 100vh
	min-height: 550px
	margin-top: $nav-height
	h1
		padding-top: 3rem
		font-size: 34px
		font-weight: 600
		padding-left: 10vw
		margin-bottom: 2rem
	.preview_container
		position: relative
		width: 100%
		min-height: 550px
		background: #eee
		.review-position
			position: absolute
			left: 5vw
			top: 15%
			@media (max-width: 600px)
				left: 0
				top: unset
				bottom: 20%
			.review-container
				position: relative
				width: 500px
				@media (max-width: 600px)
					width: 100%
					padding: 0 5vw
				.review-quote
					font-size: 30px
					font-weight: 600
					line-height: 1.25
					margin-bottom: 2rem
					@media (max-width: 600px)
						font-size: 26px
				.review-author
					position: relative
					font-size: 22px
					text-align: right
					margin-right: 20%
					@media (max-width: 600px)
						font-size: 20px
		.cta
			position: absolute
			left: 5vw
			bottom: 15%
			background: #aaa
			padding: 15px 25px
			font-size: 20px
			color: #fff
			@media (max-width: 600px)
				left: 0
				right: 0
				margin: auto
				width: 95%
				bottom: 5%

.book_preview.section
	justify-content: center
	align-items: center
	min-height: 400px
	padding: 4rem 10vw
	& > p
		font-size: 16px
		max-width: 700px
		margin-bottom: 2rem
		&:last-child
			margin-bottom: none

.list_quotes
	padding: 0 10vw
	display: flex
	flex-direction: column
	align-items: center
	padding-bottom: 2rem
	.quote_item
		max-width: 900px
		width: 100%
		position: relative
		margin-bottom: 2rem
		.body
			font-size: 20px
			line-height: 1.15
			margin-bottom: 1rem
		.author
			padding-left: 10%
			font-size: 16px
			color: #666
	.cta-container 
		text-align: right
		width: 100%
		margin-top: 1rem
		.cta
			@media (max-width: 500px)
				width: 100%
			background: #aaa
			padding: 15px 25px
			font-size: 20px
			color: #fff

.mobile-only-img
	width: 100%
	height: 300px
	background: #eee
	margin-bottom: 2rem
	margin-top: -1rem
	@media(min-width: 751px)
		display: none


.cta-float
	@media (min-width: 751px)
		position: absolute
		&.bottom
			bottom: 4rem
		&.left
			left: 10vw
	background: #aaa
	padding: 15px 25px
	font-size: 20px
	color: #fff








