{% set nav_page = _nav_page|default('') %}
{% set siteName = 'Dr. Kris | Recovering Perfectionist' %}

{% extends "_webpack.templates/_webpack.template.wrapper" %}

{% includeCssFile 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}
{% includeCssFile './static/fonts/columbia.css' %}
{% includeCssFile 'https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i' %}

{# HEADER #}
{% block header %}
	{# NOTIFICATION BANNER #}
	{% block notif_banner %}
	{% endblock %}

	<div id="navigation-wrapper">

		<div class="mobile_nav_list">		
			<ul class="navigation">
				<li class="nav_item"><a href="./">Home</a></li>
				<li class="nav_item"><a href="./about">About</a></li>
				<li class="nav_item"><a href="./books">Books</a></li>
				<li class="nav_item"><a class="has-dropdown">Resources</a>
					<ul class="sub-list">
						<li class="nav_item"><a href="./resources">Resource List</a></li>
						<li class="nav_item"><a href="./quiz">Quiz</a></li>
					</ul>
				</li>
				<li class="nav_item"><a class="has-dropdown">News</a>
					<ul class="sub-list">
						<li class="nav_item"><a href="./press">Press</a></li>
						<li class="nav_item"><a href="./events">Events</a></li>
					</ul>
				</li>
				<li class="nav_item"><a href="./contact">Contact</a></li>
			</ul>
		</div>
		<div class="mobile_nav">
			<div class="container">
				<span class="nav-line"></span>
				<span class="nav-line"></span>
				<span class="nav-line"></span>
			</div>
		</div>

		<nav class="nav">
			<div class="brand _blur">
				<a href="./"><img src="./static/images/logo.gif"></a>
			</div>
			<ul class="nav_list">
				<li class="nav_item
					{% if nav_page == 'about' %} active{% endif %}
					"><a href="./about">About</a></li>
				<li class="nav_item 
					{% if nav_page == 'books' %} active{% endif %}
					"><a href="./books">Books</a></li>
				<li class="nav_item 
					{% if nav_page == 'resources' %} active{% endif %}
					">
						<a class="has-dropdown">Resources</a>
						<ul class="hover-menu">
							<li><a href="./resources">Resources List</a></li>
							<li><a href="./quiz">Quiz</a></li>
						</ul>
					</li>
				<li class="nav_item 
					{% if nav_page == 'news' %} active{% endif %}
					">
						<a class="has-dropdown">News</a>
						<ul class="hover-menu">
							<li><a href="./press">Press</a></li>
							<li><a href="./events">Events</a></li>
						</ul>
					</li>
				<li class="nav_item 
					{% if nav_page == 'contact' %} active{% endif %}
					"><a href="./contact">Contact</a></li>
			</ul>
		</nav>

	</div>
{% endblock %}

{# MAIN #}
{% block main %}
	<img src="./static/images/inkblots/IB_header_left.png" class="inkblot hero-inkblot left oops">
	<img src="./static/images/inkblots/IB_header_right.png" class="inkblot hero-inkblot right oops">

	<div class="landing_hero">
		<div class="hero_container">
			<h1 class="hero_quote not-found-heading">Oops, the page you are looking for doesn't exist!</h1>
			<p class="not-found-para">No worries though, there are many great things to explore on this site. Check out my books, read articles
			I've written, or even take the Mentalligence Quiz if you haven't already!</p>
			<div class="not-found-buttons">
				<a href="./books" class="button-link">
					<button class="float_ad button primary">Check out Mentalligence!</button>
				</a>
				<a href="./quiz" class="button-link">
					<button class="float_ad button">Take the Quiz!</button>
				</a>
			</div>
		</div>
	</div>
{% endblock %}

{# FOOTER #}
{% block footer %}	
	{# FOOTER INFO #}
	<div class="footer_content">
		<div class="logo-nav footer-mobile-full-w">
			<a href="./" class="footer-logo footer-mobile-hide"><img src="./static/images/logo_white.gif"></a>
			<p class="subscribe_text">Sign up for my newsletter</p>
			<div class="subscribe_input">
				<input type="email" name="subscribe_email" placeholder="Enter your email here">
				<button>Send</button>
				<div class="success-message">
					<p class="text"><i class="fa fa-check-circle"></i> Subscribed!</p>
				</div>
			</div>
		</div>
		<ul class="footer-nav footer-mobile-hide">
			<li class="nav_item"><a href="./">Home</a></li>
			<li class="nav_item"><a href="./about">About</a></li>
			<li class="nav_item"><a href="./books">Books</a></li>
			<li class="nav_item">
				<ul class="sub-list">
					<li class="nav_item main"><a>Resources</a></li>
					<li class="nav_item"><a href="./resources">Resources List</a></li>
					<li class="nav_item"><a href="./quiz">Quiz</a></li>
				</ul>
			</li>
			<li class="nav_item">
				<ul class="sub-list">
					<li class="nav_item main"><a>News</a></li>
					<li class="nav_item"><a href="./press">Press</a></li>
					<li class="nav_item"><a href="./events">Events</a></li>
				</ul>
			</li>
			<li class="nav_item"><a href="./contact">Contact</a></li>
		</ul>
		<div class="footer-about">
			<h5 class="footer-mobile-hide">About Dr. Kris</h5>
			<p class="footer-mobile-hide">Recovering Perfectionist. Behavioral Science Professional. Global Citizen.</p>
			<div class="social-container footer-mobile-full-w">
				<a href="https://www.facebook.com/The-Real-Dr-Kris-697912316968161/" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/TheRealDrKris" target="_blank" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="https://instagram.com/TheRealDrKris" target="_blank" target="_blank"><i class="fa fa-instagram"></i></a>
				<a href="https://www.linkedin.com/in/drkris1" target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
			<p class="footer-copyright">
				Copyright Dr. Kris &copy; 2017.
			</p>
			<p class="made-with-love"><span class="faded">Made with <i class="fa fa-heart"></i> from</span> <a href="https://web.northeastern.edu/scout/" target="_blank" class="scout-link faded"><img src="./static/images/Scout_Logo.png" class="scout-logo"></i></a></p>
		</div>
	</div>
{% endblock %}

{% includeJsFile 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}

