{% extends "_webpack.templates/_webpack.template.wrapper" %}


{# HEADER #}
{% block header %}
	<nav class="nav">
		<div class="brand">
			<a href="./">Brand Logo</a>
		</div>
		<ul class="nav_list">
			<li class="nav_item nav_mobile">Mobile Nav</li>
			<li class="nav_item"><a href="./about">About</a></li>
			<li class="nav_item"><a href="#">Books</a></li>
			<li class="nav_item"><a href="#">Resources</a></li>
			<li class="nav_item"><a href="#">News & Events</a></li>
			<li class="nav_item"><a href="#">Contact</a></li>
			<!--<li class="nav_item subscribe">Subscribe</li>-->
		</ul>
	</nav>
{% endblock %}

{# MAIN #}
{% block main %}
	<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
	<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
{% endblock %}

{# FOOTER #}
{% block footer %}
	{# SUBSCRIBE #}
	<div class="subscribe_module">
		<h3>Stay connected with Dr. Kris</h3>
		<div class="subscribe_input">
			<input type="email" name="subscribe_email" placeholder="Enter your email here">
			<button>Keep Me Updated</button>
		</div>
	</div>
	{# FOOTER INFO #}
	<div class="footer_content">
		<h3>Footer</h3>
	</div>
{% endblock %}
