{% extends "_webpack.templates/_webpack.template.wrapper" %}

{% includeCssFile 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}
{% includeCssFile './static/fonts/columbia.css' %}
{% includeCssFile 'https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i' %}

{% set nav_page = _nav_page|default('') %}

{# HEADER #}
{% block header %}
	<div class="mobile_nav_list">		
		<ul class="navigation">
			<li class="nav_item"><a href="./">Home</a></li>
			<li class="nav_item"><a href="./books">Books</a></li>
			<li class="nav_item"><a class="has-dropdown">Resources</a>
				<ul class="sub-list">
					<li class="nav_item"><a href="./resources#worksheets">Worksheets</a></li>
					<li class="nav_item"><a href="./resources#presentations">Presentations</a></li>
					<li class="nav_item"><a href="./resources#videos">Videos</a></li>
				</ul>
			</li>
			<li class="nav_item"><a class="has-dropdown">News</a>
				<ul class="sub-list">
					<li class="nav_item"><a href="./press">Press</a></li>
					<li class="nav_item"><a href="./events">Events</a></li>
				</ul>
			</li>
			<li class="nav_item"><a href="./contact">Contact</a></li>
		</ul>
	</div>
	<div class="mobile_nav">
		<div class="container">
			<span class="nav-line"></span>
			<span class="nav-line"></span>
			<span class="nav-line"></span>
		</div>
	</div>
	<nav class="nav">
		<div class="brand _blur">
			<a href="./"><img src="./static/images/logo.gif"></a>
		</div>
		<ul class="nav_list">
			<li class="nav_item
				{% if nav_page == 'about' %} active{% endif %}
				"><a href="./about">About</a></li>
			<li class="nav_item 
				{% if nav_page == 'books' %} active{% endif %}
				"><a href="./books">Books</a></li>
			<li class="nav_item 
				{% if nav_page == 'resources' %} active{% endif %}
				">
					<a href="./resources" class="has-dropdown">Resources</a>
					<ul class="hover-menu">
						<li><a href="./resources#worksheets">Worksheets</a></li>
						<li><a href="./resources#presentations">Presentations</a></li>
						<li><a href="./resources#videos">Videos</a></li>
					</ul>
				</li>
			<li class="nav_item 
				{% if nav_page == 'news' %} active{% endif %}
				">
					<a class="has-dropdown">News</a>
					<ul class="hover-menu">
						<li><a href="./press">Press</a></li>
						<li><a href="./events">Events</a></li>
					</ul>
				</li>
			<li class="nav_item 
				{% if nav_page == 'contact' %} active{% endif %}
				"><a href="./contact">Contact</a></li>
		</ul>
	</nav>
{% endblock %}

{# MAIN #}
{% block main %}
	<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
	<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
{% endblock %}

{# FOOTER #}
{% block footer %}	
	{# FOOTER INFO #}
	<div class="footer_content">
		<div class="logo-nav footer-mobile-full-w">
			<a href="./" class="footer-logo footer-mobile-hide"><img src="./static/images/logo_white.gif"></a>
			<p class="subscribe_text">Sign up for my newsletter</p>
			<div class="subscribe_input">
				<input type="email" name="subscribe_email" placeholder="Enter your email here">
				<button>Send</button>
			</div>
		</div>
		<ul class="footer-nav footer-mobile-hide">
			<li class="nav_item"><a href="./">Home</a></li>
			<li class="nav_item"><a href="./about">About</a></li>
			<li class="nav_item"><a href="./books">Books</a></li>
			<li class="nav_item">
				<ul class="sub-list">
					<li class="nav_item main"><a href="./resources">Resources</a></li>
					<li class="nav_item"><a href="./resources#worksheets">Worksheets</a></li>
					<li class="nav_item"><a href="./resources#presentations">Presentations</a></li>
					<li class="nav_item"><a href="./resources#videos">Videos</a></li>
				</ul>
			</li>
			<li class="nav_item">
				<ul class="sub-list">
					<li class="nav_item main"><a>News</a></li>
					<li class="nav_item"><a href="./press">Press</a></li>
					<li class="nav_item"><a href="./events">Events</a></li>
				</ul>
			</li>
			<li class="nav_item"><a href="./contact">Contact</a></li>
		</ul>
		<div class="footer-about">
			<h5 class="footer-mobile-hide">About Dr. Kris</h5>
			<p class="footer-mobile-hide">Recovering Perfectionist. Behavioral Science Professional. Global Citizen.</p>
			<div class="social-container footer-mobile-full-w">
				<a href="https://www.facebook.com/The-Real-Dr-Kris-697912316968161/"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/TheRealDrKris" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="https://instagram.com/TheRealDrKris" target="_blank"><i class="fa fa-instagram"></i></a>
				<a href="https://www.linkedin.com/in/drkris1"><i class="fa fa-linkedin"></i></a>
			</div>
			<p class="footer-copyright footer-mobile-show">
				Copyright Dr. Kris &copy; 2017
			</p>
		</div>
	</div>
{% endblock %}

{% includeJsFile 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}

