{#
 # About template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set _nav_page = 'about' %}

{% block main %}
	<!-- hero section -->
	<div class="about_hero section">
		
		<h3>About Dr. Kris</h3>

		<div class="flex-row">
			<div class="image-container">
				<div class="img"></div>
			</div>

			<h1 class="hero_bio">
				Dr. Kristen Lee, affectionately known as "Dr. Kris", helps people design practical plans to manage stress and adapt to change. With twenty years' experience as a clinical social worker and educator, she is devoted to promoting well-being and leveraging human potential. Dr. Krisis an award-winning professor in Behavioral Sciences at Northeastern University in from Boston. She operates a clinical and consulting practice devoted to preventing and treating burnout. Dr. Kris can be found out on the running trails and attempting tricky yoga poses in her spare time
			</h1>
		</div>

	</div>
	<div class="client_section section">

		<h3>Clients</h3>

		<div class="client_carousel">
			<div class="offset_container">
				<div class="client_item">
				</div>
				<div class="client_item">
				</div>
				<div class="client_item">
				</div>
				<div class="client_item">
				</div>
				<div class="client_item">
				</div>
				<div class="client_item">
				</div>
			</div>
		</div>
	</div>
	<div class="timeline_section section">

		<h3>The Story</h3>

		<div class="timeline_container">
			<div class="timeline_block">
				<span class="date">1974</span>
				<div class="content">
					<div class="text">
						<p class="title">Arrived at the family party</p>
						<p class="description">IPhones weren’t a thing—plus I was always crying, so this is earliest available baby picture without tantrum mode.</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">1983</span>
				<div class="content">
					<div class="text">
						<p class="title">My obsession with words already in full bloom</p>
						<p class="description">I took being a book worm literally—my favorite read in third grade was “How to Eat Fried Worms”. Yes, my legs took up my entire body; teeth entire face.</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">1990</span>
				<div class="content">
					<div class="text">
						<p class="title">Mrs. Hermann, my 10th grade English teacher/teenage idol nudged me to take my first public platform</p>
						<p class="description">The speech competition theme was “If you could change one thing in the world…” and mine was on “racism and stereotyping”. Despised it then, still do now. Look at those bangs!</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">1996</span>
				<div class="content">
					<div class="text">
						<p class="title">Tori, my starlight was born on a full moon</p>
						<p class="description">After the big event, I couldn’t sleep for two full days. Couldn’t take my eyes her. Still can’t.</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">1996</span>
				<div class="content">
					<div class="text">
						<p class="title">Time to start officially adulting</p>
						<p class="description">Why not have three major rites of passage all within six months? Baby, college graduation, marriage. Definition of “sleeping in” changed forever.</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">1999</span>
				<div class="content">
					<div class="text">
						<p class="title">Friday the 13th became lucky</p>
						<p class="description">Ryan enters the scene. He’s a charmer, right from his grand entrance. Some things never change.</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">2000</span>
				<div class="content">
					<div class="text">
						<p class="title">Graduated from Boston University School of Social Work</p>
						<p class="description">On a mission with my master’s in tow. Totally green and overzealous, but I eventually ripened. Still overzealous.</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">2008</span>
				<div class="content">
					<div class="text">
						<p class="title">RESET inception</p>
						<p class="description">Developed clinical model in response to consistent requests for strategies that actually work. Right?</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">2011</span>
				<div class="content">
					<div class="text">
						<p class="title">Graduated from Northeastern University</p>
						<p class="description">My studies focused on burnout; ironically became my own case study. A freshly minted doctor, I thought those new letters would make me shiny and bulletproof. Still had a lot to learn/unlearn/relearn.</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">2014</span>
				<div class="content">
					<div class="text">
						<p class="title">We blinked</p>
						<p class="description">Tori graduates and moves to DC, Ryan moves up to high school. That empty nest. Nothing can prepare you for it.</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">2014</span>
				<div class="content">
					<div class="text">
						<p class="title">Published <em>Reset: Make the Most of Your Stress</em> on Halloween</p>
						<p class="description">It didn’t go viral. Surrounded by brown boxes for at least two years. Synchronicity would eventually arrive.</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">2015</span>
				<div class="content">
					<div class="text">
						<p class="title">Reset named Motivational Book of 2015, and finalist in self-help and wellness categories at the Indie Book Awards in NYC</p>
						<p class="description">Met Marilyn Allen, soon-to-be book agent extraordinaire. Made a fool of myself, but didn’t scare her away</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">2017</span>
				<div class="content">
					<div class="text">
						<p class="title">Ted X Talk: The Risk We Must Take given in Ocala, Florida</p>
						<p class="description">Shook in my grey suede booties. But I was honest and brave, mainly because of my students, who are really my teachers.</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

			<div class="timeline_block">
				<span class="date">2018</span>
				<div class="content">
					<div class="text">
						<p class="title"><em>Mentalligence: A New Psychology of Thinking</em> to debut</p>
						<p class="description">So ready to share it with you!</p>
					</div>
					<div class="asset"></div>
				</div>
			</div>

		</div>

	</div>
	<div class="contact_section section">

		<h3>Contact</h3>

		<div class="contact_container">
			<div class="contact_img"></div>

			<div class="contact_form">
				<div class="contact_block">
					<label>Why do you want to contact Dr. Kris?</label>
					<select>
						<option disabled selected>- - -</option>
						<option>Lorem ipsum</option>
						<option>Lorem ipsum</option>
						<option>Lorem ipsum</option>
					</select>
				</div>
				<div class="contact_block">
					<label>Message</label>
					<textarea rows="5"></textarea>
				</div>
				<div class="contact_block right">
					<button>Send Message</button>
				</div>
			</div>
		</div>

	</div>
{% endblock %}

