{#
 # News template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set _nav_page = 'news' %}

{% block main %}
	
	<div class="press-banner black" id="press_hero">

		<div class="featured-media">
			<div class="media_item insert-background video" image-url="./static/images/drkris/tedx.jpg"></div>
		</div>
		<div class="description">
			<img src="./static/images/inkblots/IB_events_left.png" class="inkblot landing-resources-inkblot press-banner-ink">
			
			<h3 class="title">Dr. Kris @ Tedx</h3>
			<p class="subtitle">Jacksonville, FL on Nov. 5, 2017</p>
			<p class="info">A short description on Dr.Kris's talk, what it's about, and how much she rocked it. Here's more words to show multiple lines.</p>
		</div>

	</div>

	<div class="press_section section no-bg less-top">

		<h2 class="press-title">Written By Dr. Kris</h2>

		<div class="press_grid">

			<img src="./static/images/inkblots/IB_meet_right.png" class="inkblot press-grid-bottom">

			<div class="press_item">
				<div class="thumbnail">
					<div class="img insert-background" image-url="http://images.huffingtonpost.com/2015-06-17-1434505183-5454270-FriendEnemypic-thumb.jpg"></div>
				</div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

			<div class="press_item">
				<div class="thumbnail">
					<div class="img insert-background" image-url="http://images.huffingtonpost.com/2015-05-30-1433000330-9385399-anxietytrappic-thumb.jpg"></div>
				</div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

			<div class="press_item">
				<div class="thumbnail">
					<div class="img insert-background" image-url="http://images.huffingtonpost.com/2015-10-09-1444359472-8073928-unhappy389944_640-thumb.jpg"></div>
				</div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

			<div class="press_item">
				<div class="thumbnail">
					<div class="img insert-background" image-url="https://img.huffingtonpost.com/asset/58a8746b2900002b00f27483.jpg?ops=crop_0_2_640_421,scalefit_820_noupscale"></div>
				</div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

		</div>

		<a href="./news" class="link"><button class="button black">View All</button></a>
	</div>

	<div class="press-banner teal">

		<div class="category">
			<h2 class="title">Mentioned In</h2>
		</div>
		<div class="featured-media">
			<div class="media_item insert-background" image-url="https://img.huffingtonpost.com/asset/5a09eddf1c0000c018b3492f.jpeg?cache=hfnnx0ywci&ops=scalefit_720_noupscale"></div>
		</div>
		<div class="description">
			<img src="./static/images/inkblots/IB_events_left.png" class="inkblot landing-resources-inkblot press-banner-ink">
			
			<h3 class="title">Psychologists Explain How To Deal With The Nightmare That Is Thanksgiving Dinner</h3>
			<p class="subtitle">Huffington Post on Nov. 10, 2017</p>
			<p class="info">It doesn't have to be this way.</p>
		</div>

	</div>

	<div class="press_section section no-bg less-top">

		<div class="press_grid">

			<img src="./static/images/inkblots/IB_meet_right.png" class="inkblot press-grid-bottom">

			<div class="press_item">
				<div class="thumbnail">
					<div class="img insert-background" image-url="http://images.huffingtonpost.com/2015-06-17-1434505183-5454270-FriendEnemypic-thumb.jpg"></div>
				</div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

			<div class="press_item">
				<div class="thumbnail">
					<div class="img insert-background" image-url="http://images.huffingtonpost.com/2015-05-30-1433000330-9385399-anxietytrappic-thumb.jpg"></div>
				</div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

			<div class="press_item">
				<div class="thumbnail">
					<div class="img insert-background" image-url="http://images.huffingtonpost.com/2015-10-09-1444359472-8073928-unhappy389944_640-thumb.jpg"></div>
				</div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

			<div class="press_item">
				<div class="thumbnail">
					<div class="img insert-background" image-url="https://img.huffingtonpost.com/asset/58a8746b2900002b00f27483.jpg?ops=crop_0_2_640_421,scalefit_820_noupscale"></div>
				</div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

		</div>

		<a href="./news" class="link"><button class="button black">View All</button></a>
	</div>

	<div class="press-banner blue">
		<div class="category">
			<h2 class="title">Vidoes &amp; Podcasts</h2>
		</div>
		<div class="featured-media">
			<div class="media_item video insert-background" image-url="./static/images/drkris/healthy-hanover-show.jpg"></div>
		</div>
		<div class="description">
			<img src="./static/images/inkblots/IB_events_left.png" class="inkblot landing-resources-inkblot press-banner-ink">

			<h3 class="title">Healthy Hanover Show</h3>
			<p class="subtitle">Hanover Show on June 23, 2017</p>
			<p class="info">A short description on Dr.Kris's talk, what it's about, and how much she rocked it. Here's more words to show multiple lines.</p>
		</div>

	</div>

	<div class="press_section section no-bg less-top">

		<img src="./static/images/inkblots/IB_footer.png" class="inkblot landing-resources-inkblot bottom">

		<div class="press_grid">

			<div class="press_item">
				<div class="thumbnail">
					<div class="img video insert-background" image-url="http://images.huffingtonpost.com/2015-06-17-1434505183-5454270-FriendEnemypic-thumb.jpg"></div>
				</div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

			<div class="press_item">
				<div class="thumbnail">
					<div class="img video insert-background" image-url="http://images.huffingtonpost.com/2015-05-30-1433000330-9385399-anxietytrappic-thumb.jpg"></div>
				</div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

			<div class="press_item">
				<div class="thumbnail">
					<div class="img video insert-background" image-url="http://images.huffingtonpost.com/2015-10-09-1444359472-8073928-unhappy389944_640-thumb.jpg"></div>
				</div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

			<div class="press_item">
				<div class="thumbnail">
					<div class="img video insert-background" image-url="https://img.huffingtonpost.com/asset/58a8746b2900002b00f27483.jpg?ops=crop_0_2_640_421,scalefit_820_noupscale"></div>
				</div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>
			
		</div>

		<a href="./news" class="link"><button class="button black">View All</button></a>
	</div>

{% endblock %}

