{#
 # Resources template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set _nav_page = 'resources' %}

{% block main %}
	<!-- hero section -->
	<div class="resources_main section no-flex keep-pad">

		<img src="./static/images/inkblots/IB_footer.png" class="inkblot landing-resources-inkblot bottom">
		
		<h3>Resources</h3>

		<div id="resources">

			<div class="top-select">
				<ul class="category-list">
					<li class="category active">Worksheets</li>
					<li class="category">Presentations</li>
					<li class="category">Videos</li>
				</ul>
			</div>

			<div class="filter">
				<input class="input" type="text" placeholder="Search for resources">
				<button class="button dropdown sorter">
					Sort By
					<ul class="drop-menu">
						<a class="buy-link"><li>Date Asc.</li></a>
						<a class="buy-link"><li>Date Desc.</li></a>
						<a class="buy-link"><li>Title Asc.</li></a>
						<a class="buy-link"><li>Title Desc.</li></a>
					</ul>
				</button>
			</div>

			<div class="content">
				
				{% for entry in craft.entries.section('resources') %}
					<div class="resource_item">
						<div class="info">
							<p class="resource_title">{{ entry.title }}</p>
							<p class="meta"><span class="file_type">File Type</span> <span class="date">{{ entry.dateCreated|date('n/j/y') }}</span></p>
							<p class="more"><a href="#" class="link teal">read more →</a></p>
						</div>
					</div>
				{% endfor %}
				
			</div>

		</div>		

	</div>
{% endblock %}

